<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">
      Dashboard
    </p>
    <p class="subtitle">
      Recent Posts
    </p>
    <div class="tile is-ancestor pl-6">
    <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <p class="title">{{post.title}}</p>
                    <p class="">{{post.body}}</p>
                </article>
            </div>
        </div>
    </div>
</div>
  </div>
</section>

