<div class="container is-fluid">
    <div class="columns is-centered">
        <div class="column is-8 ">
            <div class="field">
                <div class="control">
                    <h1 class="mb-5">Editor</h1>
                    <input class="input is-warning mb-4" type="text" placeholder="Warning input">
                    <textarea class="textarea is-warning is-medium" placeholder="Warning textarea"></textarea>
                    <div class="buttons">
                        <button class="button is-warning mt-4">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>